<div class="panel panel-default">
    <div class="panel-heading"><span id="panel_title">Shop By</span></div>
    <div class="panel-body">
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">CATEGORIES</span>
            </div>
            <div id="categoriesSelection">
            </div>
            <ul class="list-unstyled">
                <li>test</li>
                <li>test</li>
                <li>test</li>
                 </ul>
                <ul class="list-unstyled list-level-2">
                    <li>test</li>
                </ul>
           
        </section>
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">PRICE</span>
            </div>
            <center><input id="ex2" type="text" class="span2" value="" data-slider-min="100" data-slider-max="10000" data-slider-step="5" data-slider-value="[100,10000]" /></center>
            <div class="row">
                
                </div>
        </section>
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">COLOR</span>
            </div>
        </section>
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">BRAND</span>
            </div>

        </section>
        <section class="menu-selection">
            <div class="page-header">
            </div>
            <form>
                <input type="checkbox">
            </form>
        </section>

    </div>
</div>
