<div class="panel panel-default">
    <div class="panel-heading"><span id="panel_title">Shop By</span></div>
    <div class="panel-body">
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">CATEGORIES</span>
            </div>
            <div id="categoriesSelection">
            </div>
        </section>
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">PRICE</span>
            </div>
            <center><input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="5" data-slider-value="[0,1000]" /></center>
            <div class="row">
                <div class="col-md-3">
                    <p>0$</p>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    <p>1000$</p>
                </div>
            </div>
        </section>
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">COLOR</span>
            </div>
            <div id="colorSelection">
                <div>
        </section>
        <section class="menu-selection">
            <div class="page-header">
                <span class="panel_subtitle">BRAND</span>
            </div>
            <div id="brandSelection">
            </div>
        </section>
        </div>
        </div>
