<div id="catalogue" class="container-fluide">
    <img src="ressources/img-03.png" class="img-responsive" />
    <div id="header_catalogue">
        <div class="row">
            <div class='col-md-2'>
                <p>150 items</p>
            </div>
            <div class='col-md-4'>
            </div>
            <div class='col-md-6'>
                <img src="ressources/img-04.png" class="img-top-catalogue" />
                <img src="ressources/img-05.png" class="img-top-catalogue" />
                <img src="ressources/img-06.png" class="img-top-catalogue" />
                <img src="ressources/img-07.png" class="img-top-cataloguee" />
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class='col-md-4'>
            <div class="container-fluide">
                <div class="pictures_article">
                    <img class="img-article-catalogue" src="ressources/img-08.png" />
                </div>
                <a href="#"><span class="article_title">Voluptatem Accusantium oloremque</span></a><br/>
                <span class="price_catolgue"><span id="price_catolgue_1_1">$29.00</span> <span id="price_catolgue_2_1"></span></span>
                <div class="article_button">
                    <img src="ressources/img-11.png" class="subimg-article-catalogue" />
                    <img src="ressources/img-12.png" class="subimg-article-catalogue" />
                    <img src="ressources/img-13.png" class="subimg-article-catalogue" />
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class="container-fluide">
                <div class="pictures_article">
                    <div class="div-img-article">
                        <img src="ressources/img-08.png" />
                        <img class="img-article-promo" src="ressources/img-09.png" />
                    </div>
                </div>
                <a href="#"><span class="article_title">Voluptatem Accusantium oloremque</span></a><br/>
                <span class="price_catolgue"><span id="price_catolgue_1_2">$29.00</span> <span id="price_catolgue_2_2">$18.00</span></span>
                <div class="article_button">
                    <img src="ressources/img-11.png" class="subimg-article-catalogue" />
                    <img src="ressources/img-12.png" class="subimg-article-catalogue" />
                    <img src="ressources/img-13.png" class="subimg-article-catalogue" />
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class="container-fluide">
                <div class="pictures_article">
                    <div class="div-img-article">
                        <img class="img-article-promo" src="ressources/img-10.png" />
                        <img src="ressources/img-08.png" />
                    </div>
                </div>
                <a href="#"><span class="article_title">Voluptatem Accusantium oloremque</span></a><br/>
                <span class="price_catolgue"><span id="price_catolgue_1_3">$29.00</span> <span id="price_catolgue_2_3"></span></span>
                <div class="article_button">
                    <img src="ressources/img-11.png" class="subimg-article-catalogue" />
                    <img src="ressources/img-12.png" class="subimg-article-catalogue" />
                    <img src="ressources/img-13.png" class="subimg-article-catalogue" />
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">

    <ul class="pager">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next Page</a></li>
    </ul>

</div>
