<div id="footer">
        <div class="row">
                <div class="col-md-3">
                        <img id="imgfooter" src="ressources/img-14.png" class="img-responsive" />
                </div>
                <div class="col-md-3">
                        <img id="imgfooter" src="ressources/img-15.png" class="img-responsive" />
                </div>
                <div class="col-md-3">
                        <img id="imgfooter" src="ressources/img-16.png" class="img-responsive" />
                </div>
                <div class="col-md-3">
                        <img id="imgfooter" src="ressources/img-17.png" class="img-responsive" />
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <img id="imgfooter" src="ressources/img-27.png" class="img-responsive" />
                </div>
        </div>
        <div class="row">
                <div class="col-md-1">
                        <div class='container'>
                                <img id="imgfooter" src="ressources/img-19.png" class="img-footer-social" />
                                <p class="label-social">Facebook</p>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class='container'>

                                <img id="imgfooter" src="ressources/img-20.png" class="img-footer-social" />
                                <p class="label-social">Twitter</p>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class='container'>

                                <img id="imgfooter" src="ressources/img-21.png" class="img-footer-social" />
                                <p class="label-social">Youtube</p>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class='container'>
                                <img id="imgfooter" src="ressources/img-22.png" class="img-footer-social" />
                                <p class="label-social">RSS Feed</p>
                        </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                        <div class=container-fluid>
                                <div id="payment_method">
                                        <img src="ressources/img-25.png" class="img-footer-social" />
                                        <img src="ressources/img-26.png" class="img-footer-social" />
                                        <img src="ressources/img-23.png" class="img-footer-social" />
                                        <img src="ressources/img-24.png" class="img-footer-social" />
                                </div>
                        </div>
                </div>

        </div>
       
        <div class="row">
                <div class="col-md-4">
                        <p>©2013 SoftMarket Mangento Store by emthemes.com</p>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                        <div class=container-fluid>
                                <div id="langage_money_selection">
                                        <p><a class="active" href="#">EN</a> <a href="#">FR</a> <a href="#">ES</a> <a class="active" href="#">$</a> <a href="#">€</a> <a href="#">£</a> </p>
                                </div>
                        </div>
                </div>
        </div>
</div>

</body>

</html>
