<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link href='ressources/style.css' rel='stylesheet' type='text/css' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Slider -->
    <link rel="stylesheet" href="ressources/slider.css" />
    <script src="ressources/bootstrap-slider.js"></script>
</head>

<body>
    <header>
        <div class="row">
            <div class="col-md-6">
                <p>Shop by Phone (01) 123 456 SM <a href="#">LIVE Chat With Us</a></p>
            </div>
            <div class="col-md-6">
                <div id="personnal_info">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            My Account<span class="caret"></span></a> |
                    <a href="?page=shoppingcart">
                            My Cart (<span id="itemInSC">2</span>) <span class="caret"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"><img id="logo" src='ressources/img-01.png' alt='' title='LOGO' /></div>
            <nav class="navbar">
                <div class="container">
                    <form class="navbar-form">
                        <div class="col-md-8">
                            <ul class="nav nav-justified" id="mainNav">
                                <li role="presentation" class="disabled nav-justified"><a href="#"> OFFICE</a></li>
                                <li role="presentation" class="disabled nav-justified"><a href="#">MULTIMEDIA</a></li>
                                <li role="presentation" class="disabled nav-justified"><a href="#">DESIGN</a></li>
                                <li role="presentation" class="disabled nav-justified"><a href="#">DEVELOPER</a></li>
                                <li role="presentation" class="disabled nav-justified"><a href="#">UTILITIES</a></li>
                                <li role="presentation" class="disabled nav-justified"><a href="#">GAMES</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        </div>
        <hr/>
    </header>
