<div class="scFormTitle">
    <h3>Discount Coupon</h3>
</div>
<p>Enter coupon code below if you have one</p>
<form method="POST" action="">
    <div class="form-group">
        <div class="col-sm-10">
            <label for="couponInput" class="col-sm-10 control-label">Get a coupon discount here<span class="formRequireLabel">*</span></label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="couponInput" placeholder="" class="form-control" id="couponInput" pattern="[A-Za-z0-9._- ]+" required />
        </div>
    </div>
    <img class="scFormValidation" src="ressources/cart-04.png" />
</form>
