<div class="scFormTitle">
    <h3>Estimate Shipping & Tax</h3>
</div>
<p>Enter your destination to get a shipping estimate</p>
<form method="POST" action="">
    <div class="form-group">
        <div class="col-sm-10">
            <label for="country" class="col-sm-10 control-label">Country<span class="formRequireLabel">*</span></label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="countryInput" placeholder="" class="form-control" id="countryInput" pattern="[A-Za-z0-9._- ]+" required />
        </div>
        <div class="col-sm-10">
            <label for="stateProvince" class="col-sm-10 control-label">State / Province<span class="formRequireLabel">*</span></label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="stateProvinceInput" placeholder="" class="form-control" id="stateProvinceInput" pattern="[A-Za-z0-9._-/ ]+" required />
        </div>
        <div class="col-sm-10">
            <label for="zipCpInput" class="col-sm-10 control-label">Zip / Postal Code<span class="formRequireLabel">*</span></label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="zipCpInput" placeholder="" class="form-control" id="zipCpInput" pattern="[A-Za-z0-9._-/ ]+" required />
        </div>
    </div>
    <img class="scFormValidation" src="ressources/cart-05.png" />
</form>