body{
    width:80%;
    display:block;
    margin:auto !important;
}

#header{
    margin-right: auto;
    margin-left: auto;
    margin-bottom:50px;
    border-bottom: 1px solid black;   
}

#personnal_info{
    float:right;
}

#logo{
    display:block;
}

#mainNav{
    margin-left: 50px;
}

#mainNav li{
    margin : 0px !important;
}